html, body {
    margin: 0;
    padding: 0;

}

body {
    background: #1d1c1c;
    color: #d4d3d0;
    text-align: center;
    
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100px;
    
}

.navigation-elements {
    display: flex;
    align-items: center;

}

.navigation-elements a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 50px;

    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #d4d3d0;
    
}

.info-card {
    display: flex;
    justify-content: center;

}

.card-elements {
    display: flex;
    justify-content: space-around;
    
    width: 550px;

    border: none;
    border-radius: 10px;
    background: #a86c11;

    margin-top: 40px;
    margin-left: 40px;

    padding: 20px;

}

.left-content {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.start-info {
    display: block;
    text-align: center;
    width: 200px;

}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 10px;

}

.homepage-img {
    width: 300px;

    border: none;
    border-radius: 10px;

}

.linked-imgs {
    width:40px;
    height:40px;

}

.following-italic {
    margin-top: -20px;

}

div.projects {
    text-align: left;
}

button {
    min-width: 225px;
    max-width: 400px;
    min-height: 40px;
    max-height: 65px;

    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border: 2px solid #a86c11;
    border-radius: 15px;
    background: #1d1c1c;
    color: #a86c11;

    padding-left: 20px;
    padding-right: 20px;

    padding-top: 3px;
    padding-bottom: 3px;

}

button:hover {
    background: #a86c11;
    color: #d4d3d0;

}

/*
    #02187b,#0246a7,#164de5,#1e89ef,#5cdffb
*/