html, body {
    margin: 0;
    padding: 0;

}

body {
    background: #1d1c1c;
    color: #d4d3d0;

}

#map {
    margin: 50px auto;

    height: 600px;
    width: 100%;

    border-top: 2px solid #d4d3d0;
    border-bottom: 2px solid #d4d3d0;

}

.container {
    display: flex;
    justify-content: left;
    width: 50vw;
    left: 0;
    margin-left: 50px;

}

#route-selector {
    margin-top: 20px;
    width: 500px;

    text-align: center;

    border: none;

}

#route-selector h1 {
    border-bottom: 2px solid #d4d3d0;

    padding-bottom: 15px;
}

#input-boxes {
    display: block;
    text-align: center;

}

#input-boxes input {
    width: 200px;
    height: 25px;
    text-align: center;

    margin-right: 10px;

    padding: 5px 10px;

    border: 1px solid #d4d3d0;
    background: #1d1c1c;
    color: #d4d3d0;
    border-radius: 10px;
    box-shadow: none;

}

#input-boxes input:focus {
    border-radius: 10px 10px 0 0;

}

.pac-container {
    background-color: #1d1c1c;

    border-radius: 0 0 10px 10px;

}

.pac-item {
    color: #d4d3d0d0;

}

.pac-item-query {
    color: #d4d3d0;

}

.pac-item:hover {
    background-color: #d4d3d0;
    color: #1d1c1c;

}

.pac-item:hover .pac-item-query {
    color: #1d1c1c;

}